@import './styles/variables.css';

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0a0aa3;
  background-image:
    radial-gradient(circle, rgba(88, 36, 139, 0.08) 1px, transparent 1px);
  background-size: 30px 30px;
  background-position: 0 0;
  color: var(--text);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji";
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
